/* --- Сброс стилей и базовые настройки --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #def; /* Светло-голубой фон */
    color: #000;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* --- Шапка (Header) --- */
.header {
    background-color: #5389ae;
    color: white;
    padding: 7px 0;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.logo-icon {
    background-color: #3b637d;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1.2rem;
}

.logo-text {
    text-shadow: 1px 2px 3px #147;
    font-size: 36px;
    line-height: 43px;
}

/* --- Основной контент --- */
.main-content {
    padding: 40px 0;
}

.search-form {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    border: solid 2px;
    border-top-color: #369;
    border-left-color: #369;
    border-bottom-color: #147;
    border-right-color: #147;
    border-radius: 5px;
    padding: 9px;
    background-color: #f4eeff;
}

.search-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
}

.search-input-button {
    background: none;
    border: none;
}

/* --- Сетка товаров (Grid) --- */
.combustions-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* Центрирование каждого ряда */
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* --- Карточка товара --- */
.combustion-card {
    background-color: white;
    border-radius: 6px;
    align-items: center;
    border: #567 solid 1px;
}

.combustion-card-container {
    padding: 20px;
    text-align: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.combustion-image img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.combustion-title {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.combustion-formula {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.add-to-request-form {
    width: 100%;
}

/* --- Кнопки --- */
.btn {
    padding: 10px 15px;
    border: #567 solid 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 500;
    width: 100%;
}

.btn-primary {
    background: -webkit-linear-gradient(top, #606a83, #505670);
    color: white;
}

.btn-primary:hover {
    background: -webkit-linear-gradient(top, #8d6a86, #635070);
}

/* --- Виджет корзины --- */
.request-widget {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #4a5b7c;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.request-widget-active {
    background-color: #4a5b7c;
}

.request-widget-active:hover {
    transform: scale(1.1);
}

.request-widget-unactive {
    background-color: gray;
}

.request-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #e74c3c;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* combustion page */
.combustion-page-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items:center;
}

/* --- Медиа --- */
.media-wrapper {
    flex: 1;
    position: relative;
}

.video-wrapper {
    position: relative;
    background-color: black;
    border: none;
    border-radius: 50px;
    overflow: hidden;
    height: 800px;
    aspect-ratio: 9 / 16; /* Соотношение сторон как у вертикального видео */
}

.video-placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.caption-content {
    display: flex;
    flex-direction: column;
    font-size: 12pt;
}

.interaction-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.interaction-btn span {
    font-size: 0.8rem;
    margin-top: 5px;
}

/* --- Кнопка "Добавить в заявку" --- */
.add-to-request-btn {
    width: 100%;
    padding: 15px;
    background: -webkit-linear-gradient(top, #606a83, #505670);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.add-to-request-btn:hover {
    background: -webkit-linear-gradient(top, #8d6a86, #635070);
}

/* --- request page --- */
.main-content {
    padding: 40px 0;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.section-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

/* --- Блок исходных данных --- */
.data-section {
    background: none;
    border: none;
    margin-bottom: 40px;
}

.input-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.input-group input {
    padding: 10px;
    background-color: #f4eeff;
    border: 1px solid #567;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

/* --- Блок состава заявки --- */
.composition-section {
    margin-bottom: 40px;
}

.request-combustion-card {
    background-color: white;
    border-radius: 6px;
    margin-bottom: 25px;
    overflow: hidden;
    border: 1px solid #567;
}

.card-header {
    background: -webkit-linear-gradient(top, #606a83, #505670);
    color: white;
    padding: 10px 20px;
}

.request-combustion-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.card-body {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.request-combustion-image img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.request-combustion-properties {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.property-group {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.property-group label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.property-group input {
    background-color: #f4eeff;
}

.property-group input, .property-group p {
    line-height: normal;
    padding: 8px;
    border: 1px solid #567;
    border-radius: 5px;
    font-size: 0.95rem;
    outline: none;
}

.property-result {
    border-left: #567 solid 1px;
    padding-left: 20px;
}

/* --- Кнопка расчета --- */
.actions-section {
    display: flex;
    flex-direction: column;
}

.delete-request-btn-container {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

.btn-delete-request {
    width: 70%;
    background: -webkit-linear-gradient(top, #606a83, #505670);
    color: white;
    border: solid 1px #567;
    padding: 15px 40px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}

.btn-delete-request:hover {
    background: -webkit-linear-gradient(top, #8d6a86, #635070);
}

/* Убираем синий цвет и подчеркивание для всех ссылок */
a {
    color: inherit; /* Наследует цвет от родительского элемента (или задайте свой, например #333) */
    text-decoration: none; /* Убирает подчеркивание */
    cursor: pointer; /* Опционально: оставляет курсор-руку, чтобы было понятно, что это ссылка */
}

/* Убираем изменения цвета при наведении */
a:hover {
    color: inherit; /* Или задайте цвет, который должен быть при наведении */
    text-decoration: none; /* Гарантирует, что подчеркивание не появится */
}

/* Убираем фиолетовый цвет для посещенных ссылок */
a:visited {
    color: inherit; /* Чтобы посещенная ссылка не становилась фиолетовой */
    text-decoration: none;
}

/* Убираем подчеркивание при клике (активное состояние) */
a:active {
    color: inherit;
    text-decoration: none;
}

video::-webkit-media-controls {
    display: none !important;
}
